:root {
    --primary-color:#40c605;
}
.color-us {
    color: var(--primary-color);
}
.back {
    position: absolute;
    top: 10px;
    cursor: pointer;
    left: 20%;
    
}
.underline {
    height: 0.25rem;
    width: 5rem;
    background: var(--gradient-bar);
    margin-left: auto;
    border: none;
    margin-right: auto;
}
.loading {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us {
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn {
    margin: 20px 0px;
    padding: 10px 20px;
    background: var(--primary-color);
    outline:none;
    border-radius: 12px;
    font-weight:bolder;
    border: 1px solid black;


}
.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    
    max-width: fit-content;
    /* width: 300px; */
}
.contact-us-form input {
    border: 1px solid white;
    background: transparent;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;

    /* gap: 10px; */
    
    /* width: 100%; */
}

.names {
    display: flex;
    flex-direction: row;    
    gap: 7px;


    /* width: 100%;/ */
}
.rview-info {
    display: flex;
    margin: 20px;
    flex-direction: column;
    color: aliceblue;
    
}

.text-area{
    color:white;
    background: transparent;
    height: 100px;
    border-radius: 10px;
    padding: 10px 10px;
}

.file-upload {
    display: none;
}
.upload {
    background: var(--color-blog);
    color: white;
}

.file-name {
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.file-choosen {
    color: white;
    
}
.send {
    cursor: pointer;
}